$font-stack: Helvetica, sans-serif;
$primary-color: #e74c3c; // Reddish color
$secondary-color: #2c3e50; // Blackish color
$background-color: #ecf0f1;
$border-radius: 5px;

body {
  font-family: $font-stack;
  background-color: $background-color;
  margin: 0; // Remove default margin
  padding: 0; // Remove padding
  color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; // Ensure the body takes the full width
}

.menu {
  background-color: $secondary-color;
  border-radius: 0; // Remove border radius for full width
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; // Ensure the menu is on top
  overflow: hidden;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

    li {
      a {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
    }
  }
}

.container {
  background-color: $secondary-color;
  padding: 20px;
  border-radius: $border-radius;
  width: calc(100% - 40px); // Account for padding
  height: calc(100vh - 60px); // Adjust for menu height
  margin-top: 60px; // Account for fixed menu height
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  overflow: auto; // Ensure content can scroll if necessary
}

header {
  text-align: center;

  h1 {
    color: white;
    margin-bottom: 20px;
  }
}

main {
  flex-grow: 1; // Ensure main takes available space within container

  .about-section {
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    color: $secondary-color;

    h2 {
      margin-top: 0;
    }

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  text-align: center;
  margin-top: 20px;
  color: white;

  p {
    margin: 0;
  }
}
